<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean id="helloBean" class="com.somworld.demo.HelloWorld">
              <property name="name" value="somesh"/>
       </bean>
       <bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
              <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
              <property name="order" value="#{contentNegotiatingResolver.order+1}"/>
       </bean>

       <bean id="viewResolver" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
              <property name="basename" value="views"/>
              <property name="order" value="#{tilesViewResolver.order+1}" />
       </bean>
       <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
              <property name="definitions">
                     <list>
                            <value>/WEB-INF/tile-defs/templates.xml</value>
                            <value>/WEB-INF/tile-defs/definitions.xml</value>
                     </list>
              </property>
       </bean>
</beans>